.card{
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(222, 222, 222) ;
    border-radius: 4px;
    padding:10px;
}

.comment-text{
    font-size: 30px;
    display: block;
    font-weight: bold;
}
.add-reply{
    font-size: 19px;
    color: blue
}
.comment-reply-section{
    margin:1rem;
    margin-left: 2rem;
}
.input-text{
    padding:1rem;
    border-radius:10px;
    font-size: 20px;
}
.btn-submit{
    padding:8px;
    border-radius: 10px;
    font-size: 15px;
    background-color:rgb(135,135,235);
    color: white;
}

.all-comments:not(:first-child){
    margin-left: 4rem;
}